
@{
    ViewBag.Title = "DeleteImage";
}

<h2>Are you sure you want to delete this photo?</h2>
@if (ViewBag != null && ViewBag.name != null && ViewBag.photo != null)
{
    <h3>@ViewBag.name</h3>
    <h34>Date taken: @ViewBag.month, @ViewBag.year</h34>
    <p>
        <img id="myImg" src="@ViewBag.photo" alt="full size photo" />
    </p>
    <button id="btnYes" onclick="deletePhoto()">Yes</button>
    <button id="btnNo" onclick="returnToPhotos()">No</button>
    <script>
        function returnToPhotos() {
            window.history.back();
        }
    </script>
    <script>
    function deletePhoto() {
        var input = { delete : true};
        $.post("@Url.Action("RemoveImageFromComputer")", input, function (answer) {
            window.history.back();
        });
        
    }
    </script>
}


