@model IEnumerable<WebApplication2.Models.ImageWebModel>
@{
    ViewBag.Title = "Index";
}
<h1>Welcome to Ex3 in Advanced Programming 2 course!</h1>
<h3>Submitter's Details:</h3>
<body id="indexBody">
    <style>
        #indexBody {
            background-color: lemonchiffon;
            font-style: italic
        }
    </style>
    <table border="1">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>ID</td>
        </tr>
        @if (Model != null && Model.ElementAt(0) != null)
        {
            foreach (var item in Model)
            {
                for (int i = 0; i < @item.Students.Count; ++i)
                {
                    <tr>
                        <td>
                            @item.Students.ElementAt(i).FirstName
                        </td>
                        <td>
                            @item.Students.ElementAt(i).LastName
                        </td>
                        <td>
                            @item.Students.ElementAt(i).ID
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <br />
    <br />
    @if (Model != null && Model.ElementAt(0) != null)
    {
        <p>Connected:  @Model.ElementAt(0).IsConnected</p>
        <br />
        <br />
        <p>Number Of Photos In Output Directory (thumbnail and regular): @Model.ElementAt(0).NumberOfPhotos</p>
    }
    </body>