@model IEnumerable<WebApplication2.Models.ImageWebModel>
@{
    ViewBag.Title = "Index";
}
<h1>Welcome to Ex3 in Advanced Programming 2 course!</h1>
<h3>Submitter's Details:</h3>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>ID</td>
    </tr>

    @foreach (var item in Model)
    {
        for (int i = 0; i < @item.Students.Count; ++i)
        {
            <tr>
                <td>
                    @item.Students.ElementAt(i).FirstName
                </td>
                <td>
                    @item.Students.ElementAt(i).LastName
                </td>
                <td>
                    @item.Students.ElementAt(i).ID
                </td>
            </tr>
        }
    }

</table>
<br />
<br />
<p>Server's Connection Status:  @Model.ElementAt(0).IsConnected</p>
<br />
<br />
<p>Number Of Photos In Output Directory: @Model.ElementAt(0).NumberOfPhotos</p>
